.characters {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .characters-container {
      width: 80%;

      .characters-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin-top: 20px;
      }
  }

  .search-container {
    display: flex;
    margin-top: 20px;
  }
}

.character-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  padding-top: 30px;

  &::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1918/9937/products/marvel-avengers-sketch-fabric-springs-creative_2000x.jpg?v=1604426698);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20;
  }

  h1, a, img, p {
    position: relative;
  }

  p {
    width: 800px;
  }

  img {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .character-comics {
    margin-top: 30px;
  }

  .character-stories {
    margin-bottom: 30px;
    margin-top: 30px;
  }

}