.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/1918/9937/products/marvel-avengers-sketch-fabric-springs-creative_2000x.jpg?v=1604426698);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20;
  }

  .home-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
        position: relative;
    }

    p {
      position: relative;
    }
  }
}
