.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #202020;
  color: white;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;

  .navbar-logo {
    img {
      width: 100px;
      height: 50px;
    }
  }

  .navbar-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

    li {
      a {
        position: relative;
        display: block;
        text-decoration: none;
        color: white;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -2px;
          width: 0px;
          height: 2px;
          background: red;
          transition: all 0.45s;
        }
      }
    }
  }

  .navbar-links:hover {
    li {
      a {
        color: rgb(150, 150, 150);

        &:hover {
          color: white;

          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
