 .pagination-container {
    width: 500px;
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;

    .selected {
        border-radius: 200px;
        background-color: red;
        padding: 5px;
    }
 }

 .pagination {
    width: 500px;
    display: flex;
    margin: auto;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 30px;

    .selected {
        border-radius: 200px;
        background-color: red;
        padding: 5px;
    }
 }