.stories {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stories-container {
    width: 80%;
  }

  .search-container {
    display: flex;
    margin-top: 20px;
  }

  .story-list {
    margin-top: 20px;

    p {
      margin-top: 15px;
    }
  }
}
