@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  background-color: #202020;
  color: white;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-container .navbar-logo img {
  width: 100px;
  height: 50px;
}

.navbar-container .navbar-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.navbar-container .navbar-links li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
}

.navbar-container .navbar-links li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0px;
  height: 2px;
  background: red;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.navbar-container .navbar-links:hover li a {
  color: #969696;
}

.navbar-container .navbar-links:hover li a:hover {
  color: white;
}

.navbar-container .navbar-links:hover li a:hover::after {
  width: 100%;
  left: 0;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home::before {
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/1918/9937/products/marvel-avengers-sketch-fabric-springs-creative_2000x.jpg?v=1604426698);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.20;
}

.home .home-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.home .home-container h1 {
  position: relative;
}

.home .home-container p {
  position: relative;
}

.characters {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characters .characters-container {
  width: 80%;
}

.characters .characters-container .characters-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.characters .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 30px;
}

.character-container::before {
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/1918/9937/products/marvel-avengers-sketch-fabric-springs-creative_2000x.jpg?v=1604426698);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.20;
}

.character-container h1, .character-container a, .character-container img, .character-container p {
  position: relative;
}

.character-container p {
  width: 800px;
}

.character-container img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.character-container .character-comics {
  margin-top: 30px;
}

.character-container .character-stories {
  margin-bottom: 30px;
  margin-top: 30px;
}

.comics {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comics .comics-container {
  width: 80%;
}

.comics .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.comics .comics-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.comic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 30px;
}

.comic-container::before {
  content: "";
  background-image: url(https://cdn.shopify.com/s/files/1/1918/9937/products/marvel-avengers-sketch-fabric-springs-creative_2000x.jpg?v=1604426698);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.20;
}

.comic-container h1, .comic-container a, .comic-container img, .comic-container p {
  position: relative;
}

.comic-container p {
  width: 800px;
}

.comic-container img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.comic-container .comic-characters {
  margin-top: 30px;
}

.comic-container .comic-stories {
  margin-bottom: 30px;
  margin-top: 30px;
}

.stories {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stories .stories-container {
  width: 80%;
}

.stories .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.stories .story-list {
  margin-top: 20px;
}

.stories .story-list p {
  margin-top: 15px;
}

.pagination-container {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 30px;
}

.pagination-container .selected {
  border-radius: 200px;
  background-color: red;
  padding: 5px;
}

.pagination {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-top: 30px;
}

.pagination .selected {
  border-radius: 200px;
  background-color: red;
  padding: 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=style.css.map */